

.container {
	max-width: 750px;
margin: 0 auto;
}

.headline {
font-size: 100px;
line-height: 80px;
font-family: 'Roboto', sans-serif;
}

.body {
font-family: georgia;
fontsize: 22px;
line-height: 32px
}

.iframe1 {
	display: block;
	margin:0 auto;

}

.caption {
font-size: 13px;
font-family: georgia;
}